/**
 * Created by Chris on 03/03/2017
 * components/Loader/Loader
 */

@import '../../styles/vars.scss';

.loader {
  margin-top: 50px;

  .loader-logo {
    margin-bottom: 35px;
  }

  .loadgif {
    margin-bottom: 50px;
  }
}
