/**
 * Created by Chris on 03/03/2017
 * components/Events/Events
 */

@import '../../styles/vars.scss';

.events {
  .left-col {
    /* border:1px solid green;
    overflow: hidden; */
  }

  .right-col {
    /* border:1px solid orange;  */
    #event-map {
      height: 350px;
      border-radius: 5px;
      margin-top: 95px;
    }
  }
}
