/**
 * Created by Chris Dorward on 01/03/2017
 * SASS Variables
 */

$brewery-light-brown: #f1e5c8;
$brewery-dark-brown: #b8a26f;
$brewery-red: #c41230;

$ali-showborder: red;
$ali-border: #777;

$ali-white: #fff;
$ali-black: #000;
$ali-border-radius: 5px;
$ali-background: #e5e5e5;

$ali-rollover-border: $ali-black;
$ali-text: #2d2b2b;
$ali-titles: $hlb-text;

$ali-cardshadow:  -4px 10px 18px 0 rgba(0, 0, 0, 0.5);
$ali-white-trans: rgba(255, 255, 255, 0.5);
