/**
 * Created by Chris Dorward on 03/03/2017
 * components/FilterSort/FilterSort
 */

@import '../../styles/vars.scss';

.filter-sort {

  .filter-sort-dd{
    /* border: 1px solid red; */
    margin-bottom: 5px;
    width:200px;
    text-align: left;
  }
}
