/**
 * Created by Chris Dorward on 03/03/2017
 * components/FilterSort/FilterSort
 */

@import '../../styles/vars.scss';

.filter-sort {

  .filter-dds {
    margin-bottom: 10px;
  }
  .filter-dd {
    margin-right: 5px;
    width: 170px;
    text-align: left;
  }

  .sort-dd {
    width: 110px;
    text-align: left;
  }
}
