/**
 * Created by Amy on 02/02/2017
 * components/Header/Header
 */

@import '../../styles/vars.scss';

.header {
  .navbar {
    border-bottom: 1px solid $ali-border;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .navbar-brand > img {
    padding: 7px;
  }

  .navbar-nav li {
    font-family: 'PT Sans Caption', sans-serif;
  }
}

/* =====  Media Queries for responsiveness  ===== */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .header {
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header {
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header {
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header {
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .header {
  }
}
